@import "tailwindcss";
@import "react-pdf/dist/Page/AnnotationLayer.css";
@import "react-pdf/dist/Page/TextLayer.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Animation delays for loading dots */
.animate-bounce-1 {
  animation-delay: 0ms;
}

.animate-bounce-2 {
  animation-delay: 150ms;
}

.animate-bounce-3 {
  animation-delay: 300ms;
}
